<div class="container-fluid">

    <div class="row">
        <div class="col">
            <div class="main">
                <div class="row justify-content-center">
                    <div class="col-2">
                        <div class="card bg-light">
                            <a href="/order"><img class="card-img-top" src="../../assets/logos/swiggy.png" alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <p class="card-text"><span class="name">Swiggy</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card bg-light">
                            <a href="/order"><img class="card-img-top" src="../../assets/logos/Zomato_logo.png" alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <p class="card-text"><span class="name">Zomato</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card bg-light">
                            <a href="/order"><img class="card-img-top" src="../../assets/logos/Deliveroo_logo.png" alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <p class="card-text"><span class="name">Deliveroo</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card bg-light">
                            <a href="/order"><img class="card-img-top" src="../../assets/logos/UberEats_logo.png" alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <p class="card-text"><span class="name">UberEats</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card bg-light">
                            <a href="/order"><img class="card-img-top" src="../../assets/logos/DoorDash_logo.png" alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <p class="card-text"><span class="name">DoorDash</span></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="line">
                <span>Latest offers, Best dishes</span>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-6">
            <div class="card " style="width: 38.2rem;">
                <img class="card-img-top" src="../../assets/logos/bg.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"></p>
                    <p class="card-line">Best food application for serving people</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 19rem;">
                <img class="card-img-top" src="../../assets/images/donuts-2969490_1920.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">A balanced diet is having a cupcake in each hand. A great poster for cake lovers everywhere.</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 14rem;">
                <img class="card-img-top" src="../../assets/images/talkingFood.jpg" style="width: 14rem;height: 14rem;" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">The next best thing to eating food, is talking about it.</p>
                </div>
            </div>
        </div>

    </div>
</div>